.main-content {
    background-color: blanchedalmond;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.upper > div {
    border: 1px solid #ccc;
    height: 12em;
    padding: 8px;
}